body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding: 5% 15%;
}

.h1, h1 {
    font-family: "Montserrat-Black";
    
    font-size: 4rem;
    line-height: 1.55;
    font-weight: bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}
.Download-button{
    margin: 5% 3% 5% 0%;
}


.h3, h3{
    font-family: "Montserrat-Black";
    font-size: 2rem;
    font-weight: bold;
}
p{
    color: #8f8f8f;

}
.phone{
    width: 60%;
    transform: rotate(25deg);
}
.fa-heart{
    color: #ef7182;
    padding-bottom:5% ;
    
}
.fa-bullseye{
    color: #ef7182;
    padding-bottom:5% ;

}
.fa-circle-check{
    color: #ef7182;
    padding-bottom:5% ;

}
.fa-circle-check:hover{
    color:#ff4c68 ;
}
.fa-bullseye:hover{
    color:#ff4c68 ;
}
.fa-heart:hover{
    color:#ff4c68 ;
}
#features{
    padding: 7% 15%;
}
.ji-1{
    font-family: "Montserrat-Black";

    font-weight: bold;
    text-align: center;
    padding :5%;


}
