body{
    background-color: #EAFDFC;
    color: #82AAE3;
    

}
h1{
    color: #9D3C72;
}
h3{
    color: #FFBABA;
}
p{
    color: #0081C9;

}
hr{
background-color: white;
border-style: dotted none none;
border-color: grey;
border-width: 10px;
height: 0px;
width: 50%;


}