
.intro{
    text-align: center;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: white;
    border-radius: 0.25rem;
    padding-left: 19%;
    padding-right: 19%;
}
.container{
    max-width: 960px;
}
.text-muted{

    font-size: 18px;
}




.hide{
    display: none;
    border-style: solid;
    border-color: black;
}
  
